/* .sticky-tl
{

}

.sticky-tr
{

}

.sticky-lr
{
    
}

.button-sm
{

}

.button-med
{
    
} */

.hidden
{
    display: none;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'work sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

        /*CONTACT STYLIN' */

.contactCon
{
    font-family: 'work sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-row: 1/-1;
    grid-column: 1/-1;

    height: 100vh;

}

#contact
{
    font-weight: 800;
    font-size: 2em;
    background-color: #78d0f2;
    color: #fffef0;
    grid-row: 1;
    max-width: 30%;
    max-height: 30%;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}


.gridCon
{
    width: 100vw;
    display:grid;
    grid-template-columns: repeat(4, 1fr)

}

.formCon
{
    width: 100vw;
    grid-row: 2;
}
.formCon *
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    justify-content: center;

}

.formInput 
{
    border: none;
    border-bottom: 2px solid #78d0f2;
    width: 90vw;
}




/* 
#main
{
    
}

#navCon
{

}

#siteNav
{

}

.socialMedia
{

}

#missionStatement
{

}

#missionStatementBg
{

}
 */
