/* .sticky-tl
{

}

.sticky-tr
{

}

.sticky-lr
{
    
}

.button-sm
{

}

.button-med
{
    
} */

.hidden
{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.boxShadow
{
   box-shadow: 0px 0px 23px 2px rgba(0,0,0,0.38);
}

.boxShadowLow
{
   box-shadow: 10px 10px 95px -43px rgba(0,0,0,0.29);
}

.boxShadowUpper
{
   box-shadow: 0px 11px 291px -43px rgba(0,0,0,0.4);
}

body
{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    box-sizing: border-box;
    font-family: 'work sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-flow: column;

}


.grid
{
    display: grid;
    grid-template-columns: repeat(4,25vw);
    grid-template-rows: repeat(20,25vh);
    max-width: 100vw
}

.header
{
    grid-row: 1;
    grid-column: 1/-1;
    z-index: 20;
    display: flex;
    max-width: 100vw;

}

.menu
{
    grid-row: 1/5;
    grid-column: 1/-1;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    /* flex-basis: 100%; */
    padding: 1vh 2vw;
    background-color: #fffef0;
    padding-top: 25vh
}

.logoCon
{
    padding: 1vh 2vw;

    margin-right: auto;
    width: 100px;
    height: 100px;
}   

.logo
{
    width: 120%;
    height: 120%;

}

#btnToggle
{
    height: 35px;
    width: 35px;
    margin: 6%;
        order: 2;    /* background-image: src() */
}

.navCon
{   
    height: auto;
    width: 100vw;
    /* background-color: rgb(33, 33, 33, .6); */
    order: 3;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: stretch;
}

#siteNav
{
    padding-bottom: 100px;
    margin-right: 50px;
}

#siteNav li
{
    margin-bottom: 22px;
    color: white;
    text-align: right;

}

.navItem a
{
    color: black;
    text-decoration: none;
    padding: 1px;
    border-bottom: #78d0f2 .2em solid;
}


.navItem a:visited
{
    color: black;
    border-bottom: #78d0f2;
}

.navItem a:hover
{
    background-color: #78d0f2
}

.socialMedia
{
    order: 4;
    width: 90%;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    border-top: #78d0f2 .5px solid;

}

.socialMediaIco
{
 margin: auto;
 margin-top: 30px;

}



.mainCon
{
    grid-row: 1/5;
    grid-column: 1/-1;
    height: 100vh;
}

.heroImage
{

    height: 100vh;
    width: auto;
    overflow: hidden;
    /* height: 100%; */
}
.heroQuote
{
    grid-column: 1/4;
    grid-row: 2/4;
    z-index: 30;
    line-height: 2rem;
    margin-left: 20%;
    font-weight: 800;
    font-size: 1.5rem;
    /* letter-spacing: 1px; */
    color: #fffef0;
    padding:18px;
    padding-right: 30px;
    align-self: center;
    background-color: rgba(69, 96, 170, 0.116);
    width: 120px;
    text-align: center;
}

/* ABOUT SECTION */

.missionStatement
{
    grid-row: 3/5;
    grid-column: 2/-1;
    z-index: 10;
    justify-self: center;
    align-self: center;
    height: 200px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-right: 20%;
}

.msBg
{
    background-color: rgba(120,208,242,0.11);
    color: #fffef0;
    font-weight: 400;
    padding: 15px;
    padding-top: 20px;
    /* text-indent: -.2rem; */
    line-height: 1.2rem;
    letter-spacing: 1px;
    font-size: .9rem;
    width: 176px;
}

.missionCon
{
    grid-row: 5/10;
    height: 100vh;
    grid-column: 1/-1;
    background-image: url("../images/tex-white-wave.png");
    background-repeat: repeat;
}

.missionCon p
{
grid-row: 1/ 3;
grid-column: 2/-1;
align-self: center;
word-spacing: .2rem;
line-height: 1.25rem;
/* letter-spacing: .1rem; */
margin-left: -10px;
max-width: 88%;
text-align: justify;
text-justify: inter-character;
}

#missionBtn

{
    grid-row: 4/ 5;
    grid-column: 1/3;
    justify-self: end;
    align-self: center;
}

#missionMedia
{
    grid-column: 2/-1;
    /* grid-row: 2/5; */
    align-self: center;
    /* justify-self: end; */
    width: 100%;
    height: auto;
}

.eventCon
{
    background-color: red;
    grid-column: 1/-1;
    grid-row: 9/ span 5;
}








/*CONTACT STYLIN' */

.contactCon
{
    /* grid-row: 1/-1; */
    grid-column: 1/-1;
    height: 100vh;
    
}

#contact
{
    font-weight: 800;
    font-size: 2em;
    background-color: #78d0f2;
    color: #fffef0;
    grid-row: 1;
    max-width: 30%;
    max-height: 30%;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formCon
{
    width: 100vw;
    grid-row: 2;
}

.formCon *
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    justify-content: center;

}

.formInput 
{
    border: none;
    border-bottom: 2px solid #78d0f2;
    width: 90vw;
}
